# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Django
backend/db.sqlite3
backend/staticfiles/
backend/media/

# Node / React (future)
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
